*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
html body {

    overflow-x: hidden;
  }
/*start navbar*/
.photo-logo{
    width: 120px;
}
.nav-item{
    text-align: left;
}

.navbar-toggler{
    outline: none !important;
    border: none !important;
}
 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58,173,230, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;

  }
/*end navbar*/
/* start header */
.header-articl{
    margin-right: 20px;
 padding: 10px 0;
 margin-bottom: 33px;

 }
 .header-articl h3{
     transform: translateX(5px);
     font-family: 'Cairo', sans-serif;
    
     margin-top: 10px;
 }
 .header-articl ul li{
     width: 40px;
     height: 4px;
     background-color: rgba(58,173,230, 1);
     float: right;
     transform: rotate(90deg);
     margin-top: 30px;
     list-style: none;
     margin-bottom: 10px;
 }
 /* end header */

 /*start img application one*/
 .imgone{
     text-align: center;
     margin-bottom: 30px;
     
 }
 /*end img application one*/
 /*start background text*/
 .background-text{
     background: url(../imgs/details-bg.png);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     padding: 55px 0;
     margin-bottom: 10px;
 }
 .background-text p{
     color: #fff;
     font-family: 'Cairo', sans-serif;
     text-align: center;
     font-size: 20px;
 }
 /*end background text*/
 /*start buttons*/
 .buttons{
    text-align: center;
     margin-bottom: 60px;
 }
 /*end buttons*/
 

 /*start slider */

 .card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    transform: translateX(-40px);
    
  }
  
  .card-carousel .my-card {
    height: 20rem;
 width: 9rem;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
 
    transition: 1s;
  }
  .card-carousel .my-card:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.3);
    bottom: -5rem;
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  .card-carousel .my-card:nth-child(0):before {
    content: '0';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carousel .my-card:nth-child(1):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carousel .my-card:nth-child(2):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carousel .my-card:nth-child(3):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carousel .my-card:nth-child(4):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
 

  .card-carousel .my-card.activ {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
  }
  
  .card-carousel .my-card.prev, .card-carousel .my-card.next {
    z-index: 2;
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
    transform: scale(0.8) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
  }
  /*start footer*/
.background-footer{
    background: url(../imgs/footer.jpg);
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
    
   }
.img-foter{
    padding: 130px 0;
}
.img-foter img{
    width: 50%;
   
}
.text-foter img{
  
    margin-bottom: 40px;
}
.text-foter h4{
    color: #fff; 
font-family: 'Cairo', sans-serif;
}
.text-foter{
    padding: 150px 0;
}
.foter-icons{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}
.foter-icons i{
    color: #fff;
    margin-left: 25px;
    font-size: 30px;
    cursor: pointer;
    transition: .3s all  ease-in-out;
}
.fa-whatsapp:hover{
    color: #28a745;
    transform: scale(1.1);
}
.fa-twitter:hover{
    color: skyblue;
    transform: scale(1.1);
}
.fa-facebook:hover{
    color: rgb(101, 101, 240);
    transform: scale(1.1);
}
.fa-github:hover{
    color:#dc3545;
    transform: scale(1.1);
}
/*meida query*/
@media(max-width:990px){
    .img-foter{
        padding: 40px 0;
        text-align: center;
    }
    .text-foter h4{
        text-align: center;
    
    }
    .img-foter img{
        width: 50%;
    }
    .foter-icons{
        width: 100%;
        margin: auto;
        margin-top: 40px;
        text-align: center;
    }
    body{
        overflow-x: hidden;
        
    }
}
@media(max-width:400px){
    .card-carousel .my-card {
        height: 20rem;
        width: 130px;
        position: relative;
        z-index: 1;
        -webkit-transform: scale(0.6) translateY(-2rem);
        transform: scale(0.6) translateY(-2rem);
        opacity: 0;
        cursor: pointer;
        pointer-events: none;
        transition: 1s;
      }
      body{
          overflow-x: hidden;
      }
  }